/credentials.json
/token.json
.cursorrules
settings.json
.gradio

# Python cache files
**/__pycache__/
**/*.py[cod]
**/*.pyc
**/*.pyo
**/*.pyd
.Python
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
.env
.venv/

# IDE cache files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
logs/